{% load static %}
<header class="p-3 text-bg-dark">
 <div class="container">
   <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
     <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
       <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
     </a>
     <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
       <li><a href="{% url 'general' %}">Главная</a></li>
     </ul>
     <div class="text-end">
       {% if request.user.is_authenticated %}
          <a class="btn " style="color: white" href="{% url 'cabinet' %}"> {{ request.user.username }} | Отклики </a>
          <a class="btn " style="color: white" href="{% url 'add_ad' %}"> Добавить объявление </a>
          <button type="button" class="btn btn-outline-light me-2" onclick="window.location.href = '{% url 'account_logout' %}'">Выход</button>
       {% else %}
         <button type="button" class="btn btn-outline-light me-2" onclick="window.location.href = '{% url 'account_login' %}'">Войти</button>
         <button type="button" class="btn btn-warning btn-outline-light" style ="border: 0" onclick="window.location.href = '{% url 'account_signup' %}'">Регистрация</button>
       {% endif %}
     </div>
   </div>
 </div>
</header>